.panelroot
{
	width: 100%;
	height: 100%;
}

.Hide 
{
	transform: translate3d( 0px, 75px, 0px );
	blur: gaussian( 15.0 );
	opacity: 0.0;

	sound-out: "General.SelectAction";
	sound: "General.SelectAction";
}

#ClassBtn
{
	align: right bottom;
	width: 100px;
	height: 40px;
	margin-right: 125px;
	margin-bottom: 225px;
	background-color: #BF00FF;
	border-radius: 2px;	
	border: 4px solid #CC2EFA;
}

#ClassBtn Label {
	color: white;
}

#ClassBtn:hover {
	wash-color: #bbbbbb;
}

.classText
{
	align: center center;
	font-size: 22px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	color: #bbbbbb;
}

#HTPBtn
{
	align: right bottom;
	width: 100px;
	height: 40px;
	margin-right: 125px;
	margin-bottom: 180px;
	background-color: blue;
	border-radius: 2px;	
	border: 4px solid blue;
}

#BPBtn
{
	align: right bottom;
	width: 100px;
	height: 40px;
	margin-right: 15px;
	margin-bottom: 180px;
	background-color: green;
	border-radius: 2px;	
	border: 4px solid green;
}

#BPBtn Label {
    color: white;
	font-size: 18px;
}

#HTPBtn Label {
	color: white;
	font-size: 18px;
}

#HTPBtn:hover {
	wash-color: #bbbbbb;
}

#HTPPanel 
{
	width: 650px;
	height: 700px;
	background-color: #0F0F0FEB;
	align: middle center;
	margin-bottom: 235px;
	flow-children: down;
	transition-property: blur, transform, opacity, width, height, wash-color, pre-transform-scale2d;
	transition-duration: 0.3s, 0.3s, 0.3s;
	transition-timing-function: ease-in;
}

#GuideSelect
{
	align: middle top;
	margin-top: 10px;
    width: 100%;
	height: 30px;
	flow-children: right;
}

.guideTopBtns
{
	width: 32%;
	height: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

.guideText:hover
{
	font-size: 30px;
}

.guideSelected
{
	color: white;
	font-size: 25px;
}

#ClassesPanel 
{
	width: 650px;
	height: 700px;
	background-color: #0F0F0FEB;
	align: middle center;
	margin-bottom: 235px;
	flow-children: right;
	transition-property: blur, transform, opacity, width, height, wash-color, pre-transform-scale2d;
	transition-duration: 0.3s, 0.3s, 0.3s;
	transition-timing-function: ease-in;
}

#ClassList
{
	width: 60%;
	height: 100%;
}

#ClassDesc
{
	width: 50%;
	height: 100%;
}

#ClassListPanel
{
	margin-left: 5px;
	margin-top: 5px;
	flow-children: right-wrap;
}

.inList
{
	width: 100px;
	height: 100px;
	background-color: black;
	margin-left: 5px;
	margin-top: 5px;
}

.inList:hover
{
	pre-transform-scale2d: 1.1, 1.1;
}

.inList:active
{
	wash-color: #bbbbbb;
}

.umriotspida
{
	background-image: url("file://{images}/custom_game/classes/small/wall.png");
}

#DescPanel
{
	width: 100%;
	height: 100%;
	margin-top: 10px;
	margin-left: 10px;
	flow-children: down;
}

#DescImage
{
	width: 230px;
	height: 300px;
	align: center center;
}

#DescTextPanel
{
	width: 230px;
	height: 140px;
	margin-top: 10px;
	margin-left: 10px;
}

#DescTextPanel Label
{
	align: center center;
	font-size: 22px;
	font-family: Arial;
	color: white;
}

#ClassBtns
{
	margin-left: 10px;
	width: 230px;
	height: 100px;
}

#PickBtn
{
	margin-top: 0px;
	margin-right: 0px;
	width: 100px;
	height: 40px;
	background-color: #BF00FF;
	align: right top;
	border-radius: 2px;	
	border: 4px solid #CC2EFA;
}

#PickBtn Label
{
	color: white;
}

#PickBtn:hover {
	wash-color: #bbbbbb;
}

#BanBtn
{
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100px;
	height: 40px;
	background-color: red;
	align: left top;
	border-radius: 2px;	
	border: 4px solid red;
}

#BanBtn Label
{
	color: white;
}

#BanBtn:hover {
	wash-color: #bbbbbb;
}

.banned {
    wash-color: red;
}

#pages {
	margin-top: 10px;
	
	width: 100%;
	height: 85%;
	
	flow-children: none;
}

.guidePage {
	margin-left: 5px;
	margin-right: 5px;
	width: 100%;
	height: 100%;
	
	flow-children: down;
}

#pagesBtns {
	width: 100%;
	height: 100%;
	
	flow-children: right;
}

.pagesBtn {
	width: 50%;
	height: 100%;
	align: middle center;
}

.guideHeader {
	align: middle top;
	font-size: 20px;
}

.guidePageText {
	margin-top: 5px;
	margin-bottom: 5px;
    align: middle top;
	color: white;
	font-size: 17px;
	text-align: center;
}

.guideImage {
	align: middle top;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 300px;
	height: 200px;
}

#guide_basic {
	align: left center;
}

#guide_kvn {
	align: middle center;
}

#guide_petri {
	align: right center;
}

#BPPanel
{
	width: 660px;
	height: 500px;
	vertical-align: center;
	horizontal-align: middle;
	background-color: #0F0F0FEB;
	
	transition-property: blur, transform, opacity, width, height, wash-color, pre-transform-scale2d;
	transition-duration: 0.3s, 0.3s, 0.3s;
	transition-timing-function: ease-in;
	
	flow-children: down;
}

#BPTop
{
	width: 100%;
	height: 50%;
	
	flow-children: right;
}

#BPBottom
{
	width: 100%;
	height: 50%;
	
	flow-children: down;
}

#BPRewards
{
	width: 100%;
	height: 60%;
	
	flow-children: none;
}

#BPCh
{
	width: 60%;
	height: 80%;
	
	flow-children: down;
}

#BPLvl
{
	width: 40%;
	height: 100%;
	
	flow-children: down;
}

#BPRewardsBtns
{
	width: 100%;
	height: 40%;
}

.BPRBtn
{
	margin: 5px;
	width: 150px;
	height: 100px;
	background-repeat: no-repeat;
}

#BPLeft
{
	align: left top;
	background-image: url("file://{images}/custom_game/comp/left.png");
	background-position: left top;
}

#BPRight
{
	align: right top;
	background-image: url("file://{images}/custom_game/comp/right.png");
	background-position: right top;
}

.BPHead
{
	color: white;
	align: middle center;
	font-size: 30px;
}

.BPCompleted
{
	color: green;
}

.BPDefault
{
	color: #D8D8D8;
}

.ChLabel
{
	font-size: 25px;
	font-family: RadianceM;
	margin-left: 5px;
}

.bprR
{
	margin-right: 10px;
}

.bprL
{
	margin-left: 10px;
}

.ChLabelPr
{
	font-size: 20px;
	font-family: RadianceM;
	align: right center;
}

#CHinfo
{
	margin-top: 240px;
	margin-left: 5px;
	width: 25px;
	height: 25px;
    background-image: url( "file://{images}/custom_game/info.png");
}

#CHlvl
{
	align: middle center;
	font-size: 100px;
	font-family: RadianceM;
	color: green;
}

#CHexp
{
	align: middle center;
	color: #D8D8D8;
	font-size: 25px;
	font-family: RadianceM;
}

.reward
{
	margin: 5px;
	width: 15%;
	height: 100%;
	vertical-align: top;
	
	flow-children: down;
}

.reward Label
{
	vertical-align: top;
	horizontal-align: middle;
	color: white;
	font-size: 15px;
}

.locked
{
	brightness: 0.2;
}	

#rew1
{
	margin-left: 10px;
}

#rew2
{
	margin-left: 120px;
}
#rew3
{
	margin-left: 230px;
}
#rew4
{
	margin-left: 340px;
}
#rew5
{
	margin-left: 450px;
}
#rew6
{
	margin-left: 560px;
}

.REWLVL10
{
	background-image: url( "file://{images}/custom_game/comp/rewards/10000.png");
}

.feedheadtext
{
	font-family: "Arial";
}

#FeedBackPanel
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#FeedBackHead
{
	width: 100%;
	height: 12%;
	margin: 5px;
}

#FeedBackMain
{
	width: 100%;
	height: 73%;
	margin: 5px;
	flow-children: down;
}

#FeedBackFoot
{
	width: 100%;
	height: 15%;
	margin: 5px;
}

#FeedDiscord
{
	width: 50%;
	height: 100%;
	flow-children: right;
	horizontal-align: left;
}

#FeedSteam
{
	width: 50%;
	height: 100%;
	flow-children: right;
	horizontal-align: right;
}

#FeedBackSend
{
	width: 100%;
	height: 20%;
}

#FeedBackBtn
{
	widtH: 145px;
	height: 35px;
	background-color: #6ED771;
	color: white;
	vertical-align: middle;
	horizontal-align: center;
}

.sendText
{
	font-size: 55px;
	vertical-align: middle;
	horizontal-align: center;
}

#FeedBackText
{
	width: 100%;
	height: 80%;
}

#FeedBackCheck
{
	width: 100%;
	height: 20%;
}

#FeedText
{
	color: white;
	background-color: black;
	font-size: 22px;
	width: 100%;
	height: 100%;
	white-space: normal;
}

#FeedCheckText
{
	width: 50%;
	height: 100%;
	horizontal-align: left;
}

#FeedCheck
{
	border: 1px solid black;
	width: 25%;
	border-radius: 4px;
	background-color: #913B3B;
	border: 1px solid black;
	padding-right: 6px;
	padding-left: 8px;
	padding-top: 4px;	
	padding-bottom: 4px;
	color: white;
}

#FeedCheck:hover
{
	border: 1px solid black;
}

#FeedCheck:selected
{
	background-color: #88E386;
	color: black;
}

.feedText
{
	font-size: 15px;
}

.avatar
{
  width: 48px;
  height: 48px;

  margin-top: 2px;
  margin-bottom: 2px;
  	vertical-align: middle;
	horizontal-align: center;
}
